* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


  html,body {
    display: grid;
    height: 100%;
    /* place-items: center; */
    background: #efefef;
  }

  .person-big {
    position: relative;
    /* width: 100%;
    height: 100vh; */
    width: calc( 1920 * 100vw / 1920);
    height: calc( 1080 * 100vw / 1920);
    /* overflow: hidden; */
    background: #fff;
  }

  @media (max-width:375px) {
    .person-big{
      width:375px;
      height: 825px;
    }
  }



  .person {
    width: calc( 1920 * 100vw / 1920);
    height: calc( 1080 * 100vw / 1920); 
    position: relative;
     /* overflow: hidden; */
    background: #fff;
  }

  @media (max-width:375px) {
    .person{
      width:375px;
      height: 825px;
    }
  }

 

  .person .person-images {
    height: 100%;
    width: 100%;
    display: flex;
  }

  .person .person-images .person-img-1 {
    height: 100%;
    width: 100%;
    background-image: url('./imgphoebe/banner2/banner_highloc.jpg');
    background-position: 50%;
  }

  @media (max-width:375px) {
    .person .person-images .person-img-1{
      background-repeat: no-repeat;
      background-position: 51% 71%;
      background-size: 402%;
    }
  }
  

  .person .person-images .person-img-2 {
    position: absolute;
    height: 100%;
    width: 50%;
    background-image: url('./imgphoebe/banner2/banner_henry.jpg');
  }

  @media (max-width:1600px) {
    .person .person-images .person-img-2{
    background-position: 14% center;
    }
  }

  @media (max-width:375px) {
    .person .person-images .person-img-2{
      height: 848px;
      background-position: -573px -17px;
      background-size: cover;
      overflow: hidden;
    }
  }

  .person .slider {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 99;
  }
  .person .slider input {
    width: 100%;
    outline: none;
    background: none;
    -webkit-appearance: none;
  }
  .slider input::-webkit-slider-thumb {
    height: 100vh;
    width: 3px;
    background: none;
    -webkit-appearance: none;
    cursor: col-resize;
  }
  
  .slider .drag-line {
    width: 3px;
    height: 100vh;
    position: absolute;
    left: 49.85%;
    pointer-events: none;
  }

  @media (max-width:375px) {
    .slider .drag-line {
      width: 0.1px;
      height: 100vh;
    }
  }

  .slider .drag-line::before,
  .slider .drag-line::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 222px;
    background: #fff;
  }
  .slider .drag-line::before {
    top: 0;
  }
  .slider .drag-line::after {
    bottom: 0;
  }
  @media (max-width:1600px) {
    .slider .drag-line::after {
      bottom: 176px;
    }
  }



  .slider .drag-line span {
    height: 42px;
    width: 42px;
    border: 3px solid #fff;
    position: absolute;
    top: 85%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }

  @media (max-width:1600px) {
    .slider .drag-line span{
      top: 76%;
    }
  }

  @media (max-width:375px) {
    .slider .drag-line span{
    display: none;
    }
  }

  .slider .drag-line span::before,
  .slider .drag-line span::after {
    position: absolute;
    content: '';
    top: 50%;
    border: 10px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  .slider .drag-line span::before {
    left: 40%;
    border-left-color: #fff;
  }
  .slider .drag-line span::after {
    left: 60%;
    border-top-color: #fff;
  }

  