* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


  html,body {
    display: grid;
    height: 100%;
    /* place-items: center; */
    background: #efefef;
  }

  .person-big {
    position: relative;
    width:1920px;
    height: 1080px;
    /* width: calc( 1920 * 100vw / 1920);
    height: calc( 1080 * 100vw / 1920); */
    /* overflow: hidden; */
    background: #fff;
  }

  @media (max-width: 1600px) {
    .person-big{
      width:1600px;
      height: 100vh;
    }
  }

  @media (max-width: 1440px) {
    .person-big{
      width:1440px;
      height: 100vh;
    }
  }

  @media (max-width: 1024px) {
    .person-big{
      width:1024px;
      height: 100vh;
    }
  }

  @media (max-width: 768px){
    .person-big{
      width:768px;
      height: 100vh;
    }
  }

  @media (max-width: 425px){
    .person-big{
      width:425px;
      height: 100vh;
    }
  }

  @media (max-width:375px) {
    .person-big{
      width:375px;
      height: 825px;
    }
  }


/* person */

  .person {
    width: 1920px;
    height: 1080px; 
    position: relative;
     /* overflow: hidden; */
    background: #fff;
  }

  @media (max-width: 1600px) {
    .person{
      width:1600px;
      height: 100vh;
    }
  }

  @media (max-width: 1440px) {
    .person{
      width:1440px;
      height: 100vh;
    }
  }

  @media (max-width: 1024px) {
    .person{
      width:1024px;
      height: 100vh;
    }
  }

  @media (max-width: 768px){
    .person{
      width:768px;
      height: 100vh;
    }
  }

  @media (max-width: 425px){
    .person{
      width:425px;
      height: 100vh;
    }
  }

  @media (max-width:375px) {
    .person{
      width:375px;
      height: 825px;
    }
  }

 

  .person .person-images {
    height: 100%;
    width: 100%;
    display: flex;
  }


/* High Loc */
  .person .person-images .person-img-1 {
    height: 100%;
    width: 100%;
    background-image: url('./imgphoebe/banner2/banner_highloc.jpg');
    background-position: 50%;
  }

  @media (max-width:375px) {
    .person .person-images .person-img-1{
      height: 100vh;
     
    }
  }

/* Henry */
  .person .person-images .person-img-2 {
    position: absolute;
    height: 100%;
    width: 50%;
    background-image: url('./imgphoebe/banner2/banner_henry.jpg');
    background-position: 3px center;

  }

  @media (max-width:1600px) {
    .person .person-images .person-img-2{
    background-position: -154px center;
    }
  }

  @media (max-width: 1440px) {
    .person .person-images .person-img-2{
 
      background-position: -236px center;

    }
  }

  @media (max-width: 1024px) {
    .person .person-images .person-img-2{
      background-position: -443px center;
    }
  }

  @media (max-width: 768px){
    .person .person-images .person-img-2{
      background-position:-571px center;
    }
  }

  @media (max-width: 425px){
    .person .person-images .person-img-2{
      background-position:-745px center;
    }
  }

  @media (max-width:375px) {
    .person .person-images .person-img-2{
      height: 100vh;
      background-position: -766px center;
    }
  }



  .person .slider {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 99;
  }
  .person .slider input {
    width: 100%;
    outline: none;
    background: none;
    -webkit-appearance: none;
  }
  .slider input::-webkit-slider-thumb {
    height: 100vh;
    width: 3px;
    background: none;
    -webkit-appearance: none;
    cursor: col-resize;
  }
  

  /* 線 */
  .slider .drag-line {
    width: 3px;
    height: 100vh;
    position: absolute;
    left: 49.85%;
    pointer-events: none;
  }

  @media (max-width:1600px) {
    .slider .drag-line{
      width: 0.1px;
      height: 100vh;    
    }
  }

  /* @media (max-width: 1440px) {
    .slider .drag-line{
      width: 0.1px;
      height: 100vh;
    }
  }

  @media (max-width: 1024px) {
    .slider .drag-line{
      width: 0.1px;
      height: 100vh;    
    }
  }

  @media (max-width: 768px){
    .slider .drag-line{
      width: 0.1px;
      height: 100vh;    
    }
  }

  @media (max-width: 425px){
    .slider .drag-line{
      width: 0.1px;
      height: 100vh;    
    }
  } */

 
  .slider .drag-line::before,
  .slider .drag-line::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 222px;
    background: #fff;
  }
  .slider .drag-line::before {
    top: 0;
  }


  /* 線（下面） */
  .slider .drag-line::after {
    bottom: 0;
  }



  /* 按鈕 */
  .slider .drag-line span {
    height: 42px;
    width: 42px;
    border: 3px solid #fff;
    position: absolute;
    top: 85%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }

  @media (max-width:375px) {
    .slider .drag-line span{
    display: none;
    }
  }



  .slider .drag-line span::before,
  .slider .drag-line span::after {
    position: absolute;
    content: '';
    top: 50%;
    border: 10px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  .slider .drag-line span::before {
    left: 40%;
    border-left-color: #fff;
  }
  .slider .drag-line span::after {
    left: 60%;
    border-top-color: #fff;
  }

  